@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Montserrat', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Lora', serif;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Montserrat', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Lora', serif;
}
.features6 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.features6 .description {
  font-family: 'Raleway', sans-serif;
}
.count,
.counter-title {
  font-family: 'Montserrat', sans-serif;
}
.counter-subtitle {
  font-family: 'Lora', serif;
}
.mbr-iconfont-counters1 {
  color: #c0a375;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Lora', serif;
}
.extHeader5 .container label {
  font-family: 'Lora', serif;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Lora', serif;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Lora', serif;
}
.extHeader13 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .number {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .period {
  font-family: 'Lora', serif;
}
.extHeader13 .dot {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Lora', serif;
}
.extFeatures .feature-text {
  font-family: 'Raleway', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #c0a375;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Lora', serif;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Lora', serif;
}
.extForm2 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extForm2 .container p {
  font-family: 'Lora', serif;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #c0a375;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Lora', serif;
}
.extPricingTable1 .mbr-plan-label {
  background: #c0a375;
}
.extCounters2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Lora', serif;
}
.extCounters3 .count {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Lora', serif;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #c0a375;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #c0a375;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #c0a375;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Lora', serif;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Lora', serif;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #c0a375;
}
.extAccordion1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #c0a375;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #c0a375;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #c0a375;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #c0a375;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Lora', serif;
}
.extMsg-box1 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Lora', serif;
}
.extMsg-box1 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Lora', serif;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Lora', serif;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Montserrat', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #c0a375 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #c0a375;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #c0a375;
}
.theme-border {
  border: 1px solid #c0a375;
}
#menu-2 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2 .navbar-caption {
  color: #ffffff;
}
#menu-2 .navbar-toggler {
  color: #28324e;
}
#menu-2 .close-icon::before,
#menu-2 .close-icon::after {
  background-color: #28324e;
}
#menu-2 .link,
#menu-2 .dropdown-item {
  color: #28324e;
}
#menu-2 .link {
  font-size: 0.8rem;
}
#menu-2 .dropdown-item,
#menu-2 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-2 .link:hover,
#menu-2 .dropdown-item:hover,
#menu-2 .link:focus,
#menu-2 .dropdown-item:focus {
  color: #c0a375;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-menu {
  background: #e6e6e6;
}
#menu-2 .nav-dropdown-sm .link:focus,
#menu-2 .nav-dropdown-sm .link:hover,
#menu-2 .nav-dropdown-sm .dropdown-item:focus,
#menu-2 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2 .navbar,
#menu-2 .nav-dropdown-sm,
#menu-2 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2 .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2 .bg-color.transparent.opened .link:hover,
#menu-2 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-7f .mbr-section-title,
#msg-box8-7f p {
  color: #fff;
}
#msg-box8-7f .mbr-section-title {
  color: #121f43;
  font-size: 32px;
}
#msg-box8-7f .lead P {
  color: #121f43;
}
#msg-box8-7f .lead H4 {
  color: #121f43;
  font-size: 20px;
}
#slider2-7a .mbr-section-title,
#slider2-7a .mbr-section-lead {
  color: #fff;
}
#header3-5d .mbr-section-title,
#header3-5d .mbr-section-subtitle {
  text-align: center;
}
#header3-5d H3 {
  color: #121f43;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}
#header3-5d SPAN {
  font-size: 46px;
}
#buttons1-78 .btn {
  font-size: 12px;
}
#extFeatures8-7h .feature-title,
#extFeatures8-7h .description {
  color: #232323;
}
#extFeatures8-7h .feature-subtitle {
  color: #8c8c8c;
}
#extFeatures8-7h .feature-title {
  font-size: 20px;
}
#extFeatures8-7k .feature-title,
#extFeatures8-7k .description {
  color: #232323;
}
#extFeatures8-7k .feature-subtitle {
  color: #8c8c8c;
}
#header3-7n .mbr-section-title,
#header3-7n .mbr-section-subtitle {
  text-align: center;
}
#header3-7n H3 {
  color: #121f43;
  font-size: 36px;
}
#extFeatures5-7i .mbr-iconfont-features4 {
  color: #e6e6e6 !important;
}
#extFeatures5-7i .wraper {
  border-color: #e6e6e6 !important;
}
#extMsg-box4-9e SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-9e P {
  color: #ffffff;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#social-buttons1-8s .mbr-section-title {
  font-size: 25px;
}
#form1-12 .form-control-label {
  color: #28324e;
}
#form1-12 .mbr-section-title {
  color: #121f43;
}
#form1-12 SMALL {
  color: #121f43;
}
#menu-z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-z .navbar-caption {
  color: #ffffff;
}
#menu-z .navbar-toggler {
  color: #28324e;
}
#menu-z .close-icon::before,
#menu-z .close-icon::after {
  background-color: #28324e;
}
#menu-z .link,
#menu-z .dropdown-item {
  color: #28324e;
}
#menu-z .link {
  font-size: 0.8rem;
}
#menu-z .dropdown-item,
#menu-z .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-z .link:hover,
#menu-z .dropdown-item:hover,
#menu-z .link:focus,
#menu-z .dropdown-item:focus {
  color: #c0a375;
}
#menu-z .link[aria-expanded="true"],
#menu-z .dropdown-menu {
  background: #e6e6e6;
}
#menu-z .nav-dropdown-sm .link:focus,
#menu-z .nav-dropdown-sm .link:hover,
#menu-z .nav-dropdown-sm .dropdown-item:focus,
#menu-z .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-z .navbar,
#menu-z .nav-dropdown-sm,
#menu-z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-z .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-z .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-z .bg-color.transparent.opened .link:hover,
#menu-z .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-z .link[aria-expanded="true"],
#menu-z .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#menu-1l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1l .navbar-caption {
  color: #ffffff;
}
#menu-1l .navbar-toggler {
  color: #28324e;
}
#menu-1l .close-icon::before,
#menu-1l .close-icon::after {
  background-color: #28324e;
}
#menu-1l .link,
#menu-1l .dropdown-item {
  color: #28324e;
}
#menu-1l .link {
  font-size: 0.8rem;
}
#menu-1l .dropdown-item,
#menu-1l .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-1l .link:hover,
#menu-1l .dropdown-item:hover,
#menu-1l .link:focus,
#menu-1l .dropdown-item:focus {
  color: #c0a375;
}
#menu-1l .link[aria-expanded="true"],
#menu-1l .dropdown-menu {
  background: #e6e6e6;
}
#menu-1l .nav-dropdown-sm .link:focus,
#menu-1l .nav-dropdown-sm .link:hover,
#menu-1l .nav-dropdown-sm .dropdown-item:focus,
#menu-1l .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1l .navbar,
#menu-1l .nav-dropdown-sm,
#menu-1l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1l .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1l .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-1l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1l .bg-color.transparent.opened .link:hover,
#menu-1l .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1l .link[aria-expanded="true"],
#menu-1l .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-1q .mbr-section-title,
#msg-box8-1q p {
  color: #fff;
}
#extMsg-box4-9t SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-9t P {
  color: #ffffff;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#menu-1s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1s .navbar-caption {
  color: #ffffff;
}
#menu-1s .navbar-toggler {
  color: #28324e;
}
#menu-1s .close-icon::before,
#menu-1s .close-icon::after {
  background-color: #28324e;
}
#menu-1s .link,
#menu-1s .dropdown-item {
  color: #28324e;
}
#menu-1s .link {
  font-size: 0.8rem;
}
#menu-1s .dropdown-item,
#menu-1s .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-1s .link:hover,
#menu-1s .dropdown-item:hover,
#menu-1s .link:focus,
#menu-1s .dropdown-item:focus {
  color: #c0a375;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-menu {
  background: #e6e6e6;
}
#menu-1s .nav-dropdown-sm .link:focus,
#menu-1s .nav-dropdown-sm .link:hover,
#menu-1s .nav-dropdown-sm .dropdown-item:focus,
#menu-1s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1s .navbar,
#menu-1s .nav-dropdown-sm,
#menu-1s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1s .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-1s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1s .bg-color.transparent.opened .link:hover,
#menu-1s .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-1t .mbr-section-title,
#msg-box8-1t p {
  color: #fff;
}
#content1-1u UL {
  text-align: left;
}
#extMsg-box4-9u SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-9u P {
  color: #ffffff;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
}
#menu-1x .navbar-toggler {
  color: #28324e;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #28324e;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #28324e;
}
#menu-1x .link {
  font-size: 0.8rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #e6e6e6;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1x .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-1y .mbr-section-title,
#msg-box8-1y p {
  color: #fff;
}
#msg-box8-1y .mbr-section-title {
  color: #ffffff;
}
#msg-box8-1y .lead P {
  color: #ffffff;
}
#extMsg-box4-9v SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-9v P {
  color: #ffffff;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#msg-box8-25 .mbr-section-title,
#msg-box8-25 p {
  color: #fff;
}
#menu-22 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-22 .navbar-caption {
  color: #ffffff;
}
#menu-22 .navbar-toggler {
  color: #28324e;
}
#menu-22 .close-icon::before,
#menu-22 .close-icon::after {
  background-color: #28324e;
}
#menu-22 .link,
#menu-22 .dropdown-item {
  color: #28324e;
}
#menu-22 .link {
  font-size: 0.8rem;
}
#menu-22 .dropdown-item,
#menu-22 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-22 .link:hover,
#menu-22 .dropdown-item:hover,
#menu-22 .link:focus,
#menu-22 .dropdown-item:focus {
  color: #c0a375;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-menu {
  background: #d6d6d6;
}
#menu-22 .nav-dropdown-sm .link:focus,
#menu-22 .nav-dropdown-sm .link:hover,
#menu-22 .nav-dropdown-sm .dropdown-item:focus,
#menu-22 .nav-dropdown-sm .dropdown-item:hover {
  background: #e7e7e7!important;
}
#menu-22 .navbar,
#menu-22 .nav-dropdown-sm,
#menu-22 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-22 .nav-dropdown-sm .dropdown-menu {
  background: #efefef;
}
#menu-22 .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-22 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-22 .bg-color.transparent.opened .link:hover,
#menu-22 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#menu-2m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2m .navbar-caption {
  color: #ffffff;
}
#menu-2m .navbar-toggler {
  color: #28324e;
}
#menu-2m .close-icon::before,
#menu-2m .close-icon::after {
  background-color: #28324e;
}
#menu-2m .link,
#menu-2m .dropdown-item {
  color: #28324e;
}
#menu-2m .link {
  font-size: 0.8rem;
}
#menu-2m .dropdown-item,
#menu-2m .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-2m .link:hover,
#menu-2m .dropdown-item:hover,
#menu-2m .link:focus,
#menu-2m .dropdown-item:focus {
  color: #c0a375;
}
#menu-2m .link[aria-expanded="true"],
#menu-2m .dropdown-menu {
  background: #e6e6e6;
}
#menu-2m .nav-dropdown-sm .link:focus,
#menu-2m .nav-dropdown-sm .link:hover,
#menu-2m .nav-dropdown-sm .dropdown-item:focus,
#menu-2m .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2m .navbar,
#menu-2m .nav-dropdown-sm,
#menu-2m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2m .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2m .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-2m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2m .bg-color.transparent.opened .link:hover,
#menu-2m .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2m .link[aria-expanded="true"],
#menu-2m .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-2n .mbr-section-title,
#msg-box8-2n p {
  color: #fff;
}
#contacts3-2q P {
  text-align: center;
  color: #c0a375;
}
#contacts3-2q SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-2q H4 {
  color: #ffffff;
}
#menu-30 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-30 .navbar-caption {
  color: #ffffff;
}
#menu-30 .navbar-toggler {
  color: #28324e;
}
#menu-30 .close-icon::before,
#menu-30 .close-icon::after {
  background-color: #28324e;
}
#menu-30 .link,
#menu-30 .dropdown-item {
  color: #28324e;
}
#menu-30 .link {
  font-size: 0.8rem;
}
#menu-30 .dropdown-item,
#menu-30 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-30 .link:hover,
#menu-30 .dropdown-item:hover,
#menu-30 .link:focus,
#menu-30 .dropdown-item:focus {
  color: #c0a375;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-menu {
  background: #e6e6e6;
}
#menu-30 .nav-dropdown-sm .link:focus,
#menu-30 .nav-dropdown-sm .link:hover,
#menu-30 .nav-dropdown-sm .dropdown-item:focus,
#menu-30 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-30 .navbar,
#menu-30 .nav-dropdown-sm,
#menu-30 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-30 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-30 .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-30 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-30 .bg-color.transparent.opened .link:hover,
#menu-30 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-8y .mbr-section-title,
#msg-box8-8y p {
  color: #fff;
}
#msg-box8-8y .mbr-section-title {
  color: #121f43;
}
#msg-box8-8y .lead P {
  color: #121f43;
}
#features1-8w .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#contacts3-34 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-34 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-34 H4 {
  color: #ffffff;
}
#buttons1-80 .btn {
  font-size: 12px;
}
#buttons1-9c .btn {
  font-size: 12px;
}
#msg-box8-93 .mbr-section-title,
#msg-box8-93 p {
  color: #fff;
}
#msg-box8-93 .mbr-section-title {
  color: #121f43;
}
#msg-box8-93 .lead P {
  color: #121f43;
}
#menu-3t .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3t .navbar-caption {
  color: #ffffff;
}
#menu-3t .navbar-toggler {
  color: #28324e;
}
#menu-3t .close-icon::before,
#menu-3t .close-icon::after {
  background-color: #28324e;
}
#menu-3t .link,
#menu-3t .dropdown-item {
  color: #28324e;
}
#menu-3t .link {
  font-size: 0.8rem;
}
#menu-3t .dropdown-item,
#menu-3t .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-3t .link:hover,
#menu-3t .dropdown-item:hover,
#menu-3t .link:focus,
#menu-3t .dropdown-item:focus {
  color: #c0a375;
}
#menu-3t .link[aria-expanded="true"],
#menu-3t .dropdown-menu {
  background: #e6e6e6;
}
#menu-3t .nav-dropdown-sm .link:focus,
#menu-3t .nav-dropdown-sm .link:hover,
#menu-3t .nav-dropdown-sm .dropdown-item:focus,
#menu-3t .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-3t .navbar,
#menu-3t .nav-dropdown-sm,
#menu-3t .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3t .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-3t .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-3t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3t .bg-color.transparent.opened .link:hover,
#menu-3t .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3t .link[aria-expanded="true"],
#menu-3t .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-6c H3 {
  text-align: left;
}
#msg-box5-6c P {
  text-align: left;
}
#extMsg-box4-9w SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-9w P {
  color: #ffffff;
}
#contacts3-3w P {
  text-align: center;
  color: #c0a375;
}
#contacts3-3w SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-3w H4 {
  color: #ffffff;
}
#buttons1-9d .btn {
  font-size: 12px;
}
#msg-box8-90 .mbr-section-title,
#msg-box8-90 p {
  color: #fff;
}
#msg-box8-90 .mbr-section-title {
  color: #121f43;
}
#msg-box8-90 .lead P {
  color: #121f43;
}
#menu-3y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3y .navbar-caption {
  color: #ffffff;
}
#menu-3y .navbar-toggler {
  color: #28324e;
}
#menu-3y .close-icon::before,
#menu-3y .close-icon::after {
  background-color: #28324e;
}
#menu-3y .link,
#menu-3y .dropdown-item {
  color: #28324e;
}
#menu-3y .link {
  font-size: 0.8rem;
}
#menu-3y .dropdown-item,
#menu-3y .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-3y .link:hover,
#menu-3y .dropdown-item:hover,
#menu-3y .link:focus,
#menu-3y .dropdown-item:focus {
  color: #c0a375;
}
#menu-3y .link[aria-expanded="true"],
#menu-3y .dropdown-menu {
  background: #e6e6e6;
}
#menu-3y .nav-dropdown-sm .link:focus,
#menu-3y .nav-dropdown-sm .link:hover,
#menu-3y .nav-dropdown-sm .dropdown-item:focus,
#menu-3y .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-3y .navbar,
#menu-3y .nav-dropdown-sm,
#menu-3y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3y .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-3y .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-3y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3y .bg-color.transparent.opened .link:hover,
#menu-3y .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3y .link[aria-expanded="true"],
#menu-3y .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-6e P {
  text-align: left;
}
#msg-box5-6e H3 {
  text-align: left;
}
#msg-box5-91 H3 {
  text-align: left;
}
#msg-box5-91 P {
  text-align: left;
}
#extMsg-box4-9x SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-9x P {
  color: #ffffff;
}
#contacts3-41 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-41 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-41 H4 {
  color: #ffffff;
}
#buttons1-9g .btn {
  font-size: 12px;
}
#msg-box8-95 .mbr-section-title,
#msg-box8-95 p {
  color: #fff;
}
#msg-box8-95 .mbr-section-title {
  color: #121f43;
}
#msg-box8-95 .lead P {
  color: #121f43;
}
#menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-43 .navbar-caption {
  color: #ffffff;
}
#menu-43 .navbar-toggler {
  color: #28324e;
}
#menu-43 .close-icon::before,
#menu-43 .close-icon::after {
  background-color: #28324e;
}
#menu-43 .link,
#menu-43 .dropdown-item {
  color: #28324e;
}
#menu-43 .link {
  font-size: 0.8rem;
}
#menu-43 .dropdown-item,
#menu-43 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-43 .link:hover,
#menu-43 .dropdown-item:hover,
#menu-43 .link:focus,
#menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#menu-43 .link[aria-expanded="true"],
#menu-43 .dropdown-menu {
  background: #e6e6e6;
}
#menu-43 .nav-dropdown-sm .link:focus,
#menu-43 .nav-dropdown-sm .link:hover,
#menu-43 .nav-dropdown-sm .dropdown-item:focus,
#menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-43 .navbar,
#menu-43 .nav-dropdown-sm,
#menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-43 .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-43 .bg-color.transparent.opened .link:hover,
#menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-43 .link[aria-expanded="true"],
#menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-6f P {
  text-align: left;
}
#msg-box5-6f H3 {
  text-align: left;
}
#extMsg-box4-9y SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-9y P {
  color: #ffffff;
}
#contacts3-46 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-46 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-46 H4 {
  color: #ffffff;
}
#buttons1-9i .btn {
  font-size: 12px;
}
#msg-box8-94 .mbr-section-title,
#msg-box8-94 p {
  color: #fff;
}
#msg-box8-94 .mbr-section-title {
  color: #121f43;
}
#msg-box8-94 .lead P {
  color: #121f43;
}
#menu-48 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-48 .navbar-caption {
  color: #ffffff;
}
#menu-48 .navbar-toggler {
  color: #28324e;
}
#menu-48 .close-icon::before,
#menu-48 .close-icon::after {
  background-color: #28324e;
}
#menu-48 .link,
#menu-48 .dropdown-item {
  color: #28324e;
}
#menu-48 .link {
  font-size: 0.8rem;
}
#menu-48 .dropdown-item,
#menu-48 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-48 .link:hover,
#menu-48 .dropdown-item:hover,
#menu-48 .link:focus,
#menu-48 .dropdown-item:focus {
  color: #c0a375;
}
#menu-48 .link[aria-expanded="true"],
#menu-48 .dropdown-menu {
  background: #e6e6e6;
}
#menu-48 .nav-dropdown-sm .link:focus,
#menu-48 .nav-dropdown-sm .link:hover,
#menu-48 .nav-dropdown-sm .dropdown-item:focus,
#menu-48 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-48 .navbar,
#menu-48 .nav-dropdown-sm,
#menu-48 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-48 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-48 .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-48 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-48 .bg-color.transparent.opened .link:hover,
#menu-48 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-48 .link[aria-expanded="true"],
#menu-48 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-6g P {
  text-align: left;
}
#msg-box5-6g H3 {
  text-align: left;
}
#extMsg-box4-9z SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-9z P {
  color: #ffffff;
}
#contacts3-4b P {
  text-align: center;
  color: #c0a375;
}
#contacts3-4b SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-4b H4 {
  color: #ffffff;
}
#buttons1-9k .btn {
  font-size: 12px;
}
#msg-box8-3m .mbr-section-title,
#msg-box8-3m p {
  color: #fff;
}
#msg-box8-3m .lead H4 {
  text-align: right;
}
#msg-box8-3m .lead LI {
  text-align: right;
}
#msg-box8-3m .lead P {
  text-align: center;
  color: #121f43;
}
#msg-box8-3m .mbr-section-title {
  text-align: center;
  color: #121f43;
}
#menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-15 .navbar-caption {
  color: #ffffff;
}
#menu-15 .navbar-toggler {
  color: #28324e;
}
#menu-15 .close-icon::before,
#menu-15 .close-icon::after {
  background-color: #28324e;
}
#menu-15 .link,
#menu-15 .dropdown-item {
  color: #28324e;
}
#menu-15 .link {
  font-size: 0.8rem;
}
#menu-15 .dropdown-item,
#menu-15 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-15 .link:hover,
#menu-15 .dropdown-item:hover,
#menu-15 .link:focus,
#menu-15 .dropdown-item:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-menu {
  background: #e6e6e6;
}
#menu-15 .nav-dropdown-sm .link:focus,
#menu-15 .nav-dropdown-sm .link:hover,
#menu-15 .nav-dropdown-sm .dropdown-item:focus,
#menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-15 .navbar,
#menu-15 .nav-dropdown-sm,
#menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-15 .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-15 .bg-color.transparent.opened .link:hover,
#menu-15 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-6h H3 {
  text-align: left;
}
#msg-box5-6h P {
  text-align: left;
}
#msg-box5-77 H3 {
  text-align: left;
}
#msg-box5-77 P {
  text-align: left;
}
#msg-box5-6i H3 {
  text-align: left;
}
#msg-box5-6i P {
  text-align: left;
}
#extMsg-box4-a0 SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-a0 P {
  color: #ffffff;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#social-buttons1-9s .mbr-section-title {
  font-size: 22px;
}
#buttons1-9m .btn {
  font-size: 12px;
}
#msg-box8-3q .mbr-section-title,
#msg-box8-3q p {
  color: #fff;
}
#msg-box8-3q .lead H4 {
  text-align: center;
  color: #ffffff;
}
#msg-box8-3q .lead LI {
  text-align: right;
}
#msg-box8-3q .lead P {
  text-align: center;
  color: #121f43;
}
#msg-box8-3q .mbr-section-title {
  text-align: center;
  color: #121f43;
}
#msg-box8-3q .lead {
  color: #ffffff;
}
#menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1e .navbar-caption {
  color: #ffffff;
}
#menu-1e .navbar-toggler {
  color: #28324e;
}
#menu-1e .close-icon::before,
#menu-1e .close-icon::after {
  background-color: #28324e;
}
#menu-1e .link,
#menu-1e .dropdown-item {
  color: #28324e;
}
#menu-1e .link {
  font-size: 0.8rem;
}
#menu-1e .dropdown-item,
#menu-1e .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-1e .link:hover,
#menu-1e .dropdown-item:hover,
#menu-1e .link:focus,
#menu-1e .dropdown-item:focus {
  color: #c0a375;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-menu {
  background: #e6e6e6;
}
#menu-1e .nav-dropdown-sm .link:focus,
#menu-1e .nav-dropdown-sm .link:hover,
#menu-1e .nav-dropdown-sm .dropdown-item:focus,
#menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1e .navbar,
#menu-1e .nav-dropdown-sm,
#menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1e .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1e .bg-color.transparent.opened .link:hover,
#menu-1e .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-6k H3 {
  text-align: left;
}
#msg-box5-6k P {
  text-align: left;
}
#extMsg-box4-a1 SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-a1 P {
  color: #ffffff;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#buttons1-9o .btn {
  font-size: 12px;
}
#msg-box8-92 .mbr-section-title,
#msg-box8-92 p {
  color: #fff;
}
#msg-box8-92 .mbr-section-title {
  color: #121f43;
}
#msg-box8-92 .lead P {
  color: #121f43;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #28324e;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #28324e;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #28324e;
}
#menu-1h .link {
  font-size: 0.8rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #c0a375;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #e6e6e6;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1h .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-6l H3 {
  text-align: left;
}
#msg-box5-6l P {
  text-align: left;
}
#extMsg-box4-a2 SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-a2 P {
  color: #ffffff;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#menu-59 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-59 .navbar-caption {
  color: #ffffff;
}
#menu-59 .navbar-toggler {
  color: #28324e;
}
#menu-59 .close-icon::before,
#menu-59 .close-icon::after {
  background-color: #28324e;
}
#menu-59 .link,
#menu-59 .dropdown-item {
  color: #28324e;
}
#menu-59 .link {
  font-size: 0.8rem;
}
#menu-59 .dropdown-item,
#menu-59 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-59 .link:hover,
#menu-59 .dropdown-item:hover,
#menu-59 .link:focus,
#menu-59 .dropdown-item:focus {
  color: #c0a375;
}
#menu-59 .link[aria-expanded="true"],
#menu-59 .dropdown-menu {
  background: #e6e6e6;
}
#menu-59 .nav-dropdown-sm .link:focus,
#menu-59 .nav-dropdown-sm .link:hover,
#menu-59 .nav-dropdown-sm .dropdown-item:focus,
#menu-59 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-59 .navbar,
#menu-59 .nav-dropdown-sm,
#menu-59 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-59 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-59 .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-59 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-59 .bg-color.transparent.opened .link:hover,
#menu-59 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-59 .link[aria-expanded="true"],
#menu-59 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-98 .mbr-section-title,
#msg-box3-98 p {
  color: #000;
}
#pricing-table2-99 .mbr-plan-header,
#pricing-table2-99 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-99 ul,
#pricing-table2-99 .mbr-plan-title,
#pricing-table2-99 .mbr-price-value,
#pricing-table2-99 .mbr-price-figure,
#pricing-table2-99 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-99 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-99 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-99 .mbr-section__container .mbr-section-subtitle {
  color: #28324e;
}
#pricing-table2-99 .mbr-plan-label {
  color: #ffffff;
}
#pricing-table2-99 .mbr-plan-label B {
  font-size: 24px;
  color: #ffffff;
}
#pricing-table2-99 .mbr-plan-title {
  font-size: 30px;
}
#header3-9a .mbr-section-title,
#header3-9a .mbr-section-subtitle {
  text-align: center;
}
#header3-9a H3 {
  font-size: 18px;
  color: #28324e;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#form1-6y .form-control-label {
  color: #ffffff;
}
#form1-6y .mbr-section-title {
  color: #ffffff;
}
#form1-6y SMALL {
  color: #dfb573;
}
#menu-6z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-6z .navbar-caption {
  color: #ffffff;
}
#menu-6z .navbar-toggler {
  color: #28324e;
}
#menu-6z .close-icon::before,
#menu-6z .close-icon::after {
  background-color: #28324e;
}
#menu-6z .link,
#menu-6z .dropdown-item {
  color: #28324e;
}
#menu-6z .link {
  font-size: 0.8rem;
}
#menu-6z .dropdown-item,
#menu-6z .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-6z .link:hover,
#menu-6z .dropdown-item:hover,
#menu-6z .link:focus,
#menu-6z .dropdown-item:focus {
  color: #c0a375;
}
#menu-6z .link[aria-expanded="true"],
#menu-6z .dropdown-menu {
  background: #e6e6e6;
}
#menu-6z .nav-dropdown-sm .link:focus,
#menu-6z .nav-dropdown-sm .link:hover,
#menu-6z .nav-dropdown-sm .dropdown-item:focus,
#menu-6z .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-6z .navbar,
#menu-6z .nav-dropdown-sm,
#menu-6z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-6z .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-6z .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-6z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-6z .bg-color.transparent.opened .link:hover,
#menu-6z .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-6z .link[aria-expanded="true"],
#menu-6z .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts3-71 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-71 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-71 H4 {
  color: #ffffff;
}
#menu-8l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8l .navbar-caption {
  color: #ffffff;
}
#menu-8l .navbar-toggler {
  color: #28324e;
}
#menu-8l .close-icon::before,
#menu-8l .close-icon::after {
  background-color: #28324e;
}
#menu-8l .link,
#menu-8l .dropdown-item {
  color: #28324e;
}
#menu-8l .link {
  font-size: 0.8rem;
}
#menu-8l .dropdown-item,
#menu-8l .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-8l .link:hover,
#menu-8l .dropdown-item:hover,
#menu-8l .link:focus,
#menu-8l .dropdown-item:focus {
  color: #c0a375;
}
#menu-8l .link[aria-expanded="true"],
#menu-8l .dropdown-menu {
  background: #e6e6e6;
}
#menu-8l .nav-dropdown-sm .link:focus,
#menu-8l .nav-dropdown-sm .link:hover,
#menu-8l .nav-dropdown-sm .dropdown-item:focus,
#menu-8l .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-8l .navbar,
#menu-8l .nav-dropdown-sm,
#menu-8l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8l .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-8l .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-8l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8l .bg-color.transparent.opened .link:hover,
#menu-8l .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-8l .link[aria-expanded="true"],
#menu-8l .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-8m .mbr-section-title,
#msg-box8-8m p {
  color: #fff;
}
#content1-8n DIV {
  text-align: center;
}
#content1-8n UL {
  text-align: center;
}
#content1-8n P {
  text-align: left;
}
#extMsg-box4-a3 SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-a3 P {
  color: #ffffff;
}
#contacts3-8p P {
  text-align: center;
  color: #c0a375;
}
#contacts3-8p SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-8p H4 {
  color: #ffffff;
}

#buttons1-9q .btn {
  font-size: 12px;
}
#msg-box8-8i .mbr-section-title,
#msg-box8-8i p {
  color: #fff;
}
#msg-box8-8i .mbr-section-title {
  color: #121f43;
}
#msg-box8-8i .lead P {
  color: #121f43;
}
#menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-18 .navbar-caption {
  color: #ffffff;
}
#menu-18 .navbar-toggler {
  color: #28324e;
}
#menu-18 .close-icon::before,
#menu-18 .close-icon::after {
  background-color: #28324e;
}
#menu-18 .link,
#menu-18 .dropdown-item {
  color: #28324e;
}
#menu-18 .link {
  font-size: 0.8rem;
}
#menu-18 .dropdown-item,
#menu-18 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-18 .link:hover,
#menu-18 .dropdown-item:hover,
#menu-18 .link:focus,
#menu-18 .dropdown-item:focus {
  color: #c0a375;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-menu {
  background: #e6e6e6;
}
#menu-18 .nav-dropdown-sm .link:focus,
#menu-18 .nav-dropdown-sm .link:hover,
#menu-18 .nav-dropdown-sm .dropdown-item:focus,
#menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-18 .navbar,
#menu-18 .nav-dropdown-sm,
#menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-18 .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-18 .bg-color.transparent.opened .link:hover,
#menu-18 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-6j H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-6j P {
  text-align: left;
}
#extMsg-box1-7m H3 {
  color: #000000;
  font-size: 36px;
  text-align: left;
}
#extMsg-box1-7m P {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  text-align: left;
}
#extMsg-box1-7m SPAN {
  text-align: left;
}
#msg-box5-75 H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-75 P {
  text-align: left;
}
#msg-box5-76 H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-76 P {
  text-align: left;
}
#extMsg-box4-a4 SPAN {
  font-size: 36px;
  color: #ffffff;
}
#extMsg-box4-a4 P {
  color: #ffffff;
}
#contacts3-28 P {
  text-align: center;
  color: #c0a375;
}
#contacts3-28 SPAN {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-28 H4 {
  color: #ffffff;
}
#social-buttons1-8r .mbr-section-title {
  font-size: 22px;
}
