@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-2 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2 .navbar-caption {
  color: #ffffff;
}
#menu-2 .navbar-toggler {
  color: #ffffff;
}
#menu-2 .close-icon::before,
#menu-2 .close-icon::after {
  background-color: #ffffff;
}
#menu-2 .link,
#menu-2 .dropdown-item {
  color: #ffffff;
}
#menu-2 .link {
  font-size: 0.75rem;
}
#menu-2 .dropdown-item,
#menu-2 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2 .link:hover,
#menu-2 .dropdown-item:hover,
#menu-2 .link:focus,
#menu-2 .dropdown-item:focus {
  color: #c0a375;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-menu {
  background: #0e0e0e;
}
#menu-2 .nav-dropdown-sm .link:focus,
#menu-2 .nav-dropdown-sm .link:hover,
#menu-2 .nav-dropdown-sm .dropdown-item:focus,
#menu-2 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2 .navbar,
#menu-2 .nav-dropdown-sm,
#menu-2 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2 .bg-color.transparent.opened .link:hover,
#menu-2 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#slider-0 H2 {
  font-size: 36px;
}
#slider-0 P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#header6-w .mbr-section-title {
  color: #ffffff;
}
#header6-w .mbr-section-text {
  color: #565656;
}
#header6-w H3 {
  color: #ffffff;
  text-align: center;
}
#header6-w P {
  color: #ffffff;
  text-align: center;
}
#header3-x .mbr-section-title,
#header3-x .mbr-section-subtitle {
  text-align: center;
}
#header3-x H3 {
  color: #ffffff;
}
#msg-box5-a H3 {
  text-align: center;
  font-size: 30px;
}
#msg-box5-a P {
  text-align: center;
}
#msg-box5-d H3 {
  text-align: center;
  font-size: 30px;
}
#msg-box5-d P {
  text-align: center;
}
#msg-box5-e H3 {
  text-align: center;
  font-size: 30px;
}
#msg-box5-e P {
  text-align: center;
}
#msg-box5-f H3 {
  font-size: 30px;
  text-align: center;
}
#msg-box5-f P {
  text-align: center;
}
#msg-box5-g H3 {
  text-align: center;
  font-size: 30px;
}
#msg-box5-g P {
  text-align: center;
}
#social-buttons4-1k .mbr-section-title,
#social-buttons4-1k .btn-social {
  color: #fff;
}
#form1-12 .form-control-label {
  color: #ffffff;
}
#form1-12 .mbr-section-title {
  color: #ffffff;
}
#msg-box2-14 .mbr-section-title {
  color: #fff;
}
#msg-box2-14 .mbr-section-subtitle {
  color: #a0a0a0;
}
#menu-z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-z .navbar-caption {
  color: #ffffff;
}
#menu-z .navbar-toggler {
  color: #ffffff;
}
#menu-z .close-icon::before,
#menu-z .close-icon::after {
  background-color: #ffffff;
}
#menu-z .link,
#menu-z .dropdown-item {
  color: #ffffff;
}
#menu-z .link {
  font-size: 0.75rem;
}
#menu-z .dropdown-item,
#menu-z .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-z .link:hover,
#menu-z .dropdown-item:hover,
#menu-z .link:focus,
#menu-z .dropdown-item:focus {
  color: #c0a375;
}
#menu-z .link[aria-expanded="true"],
#menu-z .dropdown-menu {
  background: #0e0e0e;
}
#menu-z .nav-dropdown-sm .link:focus,
#menu-z .nav-dropdown-sm .link:hover,
#menu-z .nav-dropdown-sm .dropdown-item:focus,
#menu-z .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-z .navbar,
#menu-z .nav-dropdown-sm,
#menu-z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-z .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-z .bg-color.transparent.opened .link:hover,
#menu-z .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-z .link[aria-expanded="true"],
#menu-z .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-15 .navbar-caption {
  color: #ffffff;
}
#menu-15 .navbar-toggler {
  color: #ffffff;
}
#menu-15 .close-icon::before,
#menu-15 .close-icon::after {
  background-color: #ffffff;
}
#menu-15 .link,
#menu-15 .dropdown-item {
  color: #ffffff;
}
#menu-15 .link {
  font-size: 0.75rem;
}
#menu-15 .dropdown-item,
#menu-15 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-15 .link:hover,
#menu-15 .dropdown-item:hover,
#menu-15 .link:focus,
#menu-15 .dropdown-item:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-menu {
  background: #0e0e0e;
}
#menu-15 .nav-dropdown-sm .link:focus,
#menu-15 .nav-dropdown-sm .link:hover,
#menu-15 .nav-dropdown-sm .dropdown-item:focus,
#menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-15 .navbar,
#menu-15 .nav-dropdown-sm,
#menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-15 .bg-color.transparent.opened .link:hover,
#menu-15 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header2-17 H3 {
  text-align: center;
  font-size: 30px;
}
#header2-17 P {
  text-align: center;
}
#menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-18 .navbar-caption {
  color: #ffffff;
}
#menu-18 .navbar-toggler {
  color: #ffffff;
}
#menu-18 .close-icon::before,
#menu-18 .close-icon::after {
  background-color: #ffffff;
}
#menu-18 .link,
#menu-18 .dropdown-item {
  color: #ffffff;
}
#menu-18 .link {
  font-size: 0.75rem;
}
#menu-18 .dropdown-item,
#menu-18 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-18 .link:hover,
#menu-18 .dropdown-item:hover,
#menu-18 .link:focus,
#menu-18 .dropdown-item:focus {
  color: #c0a375;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-menu {
  background: #0e0e0e;
}
#menu-18 .nav-dropdown-sm .link:focus,
#menu-18 .nav-dropdown-sm .link:hover,
#menu-18 .nav-dropdown-sm .dropdown-item:focus,
#menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-18 .navbar,
#menu-18 .nav-dropdown-sm,
#menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-18 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-18 .bg-color.transparent.opened .link:hover,
#menu-18 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header2-19 H3 {
  text-align: center;
  font-size: 30px;
}
#header2-19 P {
  text-align: center;
}
#menu-1b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1b .navbar-caption {
  color: #ffffff;
}
#menu-1b .navbar-toggler {
  color: #ffffff;
}
#menu-1b .close-icon::before,
#menu-1b .close-icon::after {
  background-color: #ffffff;
}
#menu-1b .link,
#menu-1b .dropdown-item {
  color: #ffffff;
}
#menu-1b .link {
  font-size: 0.75rem;
}
#menu-1b .dropdown-item,
#menu-1b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1b .link:hover,
#menu-1b .dropdown-item:hover,
#menu-1b .link:focus,
#menu-1b .dropdown-item:focus {
  color: #c0a375;
}
#menu-1b .link[aria-expanded="true"],
#menu-1b .dropdown-menu {
  background: #0e0e0e;
}
#menu-1b .nav-dropdown-sm .link:focus,
#menu-1b .nav-dropdown-sm .link:hover,
#menu-1b .nav-dropdown-sm .dropdown-item:focus,
#menu-1b .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1b .navbar,
#menu-1b .nav-dropdown-sm,
#menu-1b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1b .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1b .bg-color.transparent.opened .link:hover,
#menu-1b .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1b .link[aria-expanded="true"],
#menu-1b .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header2-1c H3 {
  text-align: center;
  font-size: 30px;
}
#header2-1c P {
  text-align: center;
}
#header2-1c SPAN {
  font-size: 17px;
}
#menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1e .navbar-caption {
  color: #ffffff;
}
#menu-1e .navbar-toggler {
  color: #ffffff;
}
#menu-1e .close-icon::before,
#menu-1e .close-icon::after {
  background-color: #ffffff;
}
#menu-1e .link,
#menu-1e .dropdown-item {
  color: #ffffff;
}
#menu-1e .link {
  font-size: 0.75rem;
}
#menu-1e .dropdown-item,
#menu-1e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1e .link:hover,
#menu-1e .dropdown-item:hover,
#menu-1e .link:focus,
#menu-1e .dropdown-item:focus {
  color: #c0a375;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-menu {
  background: #0e0e0e;
}
#menu-1e .nav-dropdown-sm .link:focus,
#menu-1e .nav-dropdown-sm .link:hover,
#menu-1e .nav-dropdown-sm .dropdown-item:focus,
#menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1e .navbar,
#menu-1e .nav-dropdown-sm,
#menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1e .bg-color.transparent.opened .link:hover,
#menu-1e .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header2-1f H3 {
  text-align: center;
  font-size: 30px;
}
#header2-1f P {
  text-align: center;
}
#header2-1f SPAN {
  font-size: 17px;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
}
#menu-1h .link {
  font-size: 0.75rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #c0a375;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #0e0e0e;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header2-1i H3 {
  text-align: center;
  font-size: 30px;
}
#header2-1i P {
  text-align: center;
}
#header2-1i SPAN {
  font-size: 17px;
}
#menu-1l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1l .navbar-caption {
  color: #ffffff;
}
#menu-1l .navbar-toggler {
  color: #ffffff;
}
#menu-1l .close-icon::before,
#menu-1l .close-icon::after {
  background-color: #ffffff;
}
#menu-1l .link,
#menu-1l .dropdown-item {
  color: #ffffff;
}
#menu-1l .link {
  font-size: 0.75rem;
}
#menu-1l .dropdown-item,
#menu-1l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1l .link:hover,
#menu-1l .dropdown-item:hover,
#menu-1l .link:focus,
#menu-1l .dropdown-item:focus {
  color: #c0a375;
}
#menu-1l .link[aria-expanded="true"],
#menu-1l .dropdown-menu {
  background: #0e0e0e;
}
#menu-1l .nav-dropdown-sm .link:focus,
#menu-1l .nav-dropdown-sm .link:hover,
#menu-1l .nav-dropdown-sm .dropdown-item:focus,
#menu-1l .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1l .navbar,
#menu-1l .nav-dropdown-sm,
#menu-1l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1l .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1l .bg-color.transparent.opened .link:hover,
#menu-1l .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1l .link[aria-expanded="true"],
#menu-1l .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-1q .mbr-section-title,
#msg-box8-1q p {
  color: #fff;
}
#menu-1s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1s .navbar-caption {
  color: #ffffff;
}
#menu-1s .navbar-toggler {
  color: #ffffff;
}
#menu-1s .close-icon::before,
#menu-1s .close-icon::after {
  background-color: #ffffff;
}
#menu-1s .link,
#menu-1s .dropdown-item {
  color: #ffffff;
}
#menu-1s .link {
  font-size: 0.75rem;
}
#menu-1s .dropdown-item,
#menu-1s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1s .link:hover,
#menu-1s .dropdown-item:hover,
#menu-1s .link:focus,
#menu-1s .dropdown-item:focus {
  color: #c0a375;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-menu {
  background: #0e0e0e;
}
#menu-1s .nav-dropdown-sm .link:focus,
#menu-1s .nav-dropdown-sm .link:hover,
#menu-1s .nav-dropdown-sm .dropdown-item:focus,
#menu-1s .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1s .navbar,
#menu-1s .nav-dropdown-sm,
#menu-1s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1s .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1s .bg-color.transparent.opened .link:hover,
#menu-1s .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-1t .mbr-section-title,
#msg-box8-1t p {
  color: #fff;
}
#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
}
#menu-1x .navbar-toggler {
  color: #ffffff;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #ffffff;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #ffffff;
}
#menu-1x .link {
  font-size: 0.75rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #0e0e0e;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-1y .mbr-section-title,
#msg-box8-1y p {
  color: #fff;
}
#msg-box8-25 .mbr-section-title,
#msg-box8-25 p {
  color: #fff;
}
#menu-22 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-22 .navbar-caption {
  color: #ffffff;
}
#menu-22 .navbar-toggler {
  color: #ffffff;
}
#menu-22 .close-icon::before,
#menu-22 .close-icon::after {
  background-color: #ffffff;
}
#menu-22 .link,
#menu-22 .dropdown-item {
  color: #ffffff;
}
#menu-22 .link {
  font-size: 0.75rem;
}
#menu-22 .dropdown-item,
#menu-22 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-22 .link:hover,
#menu-22 .dropdown-item:hover,
#menu-22 .link:focus,
#menu-22 .dropdown-item:focus {
  color: #c0a375;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-menu {
  background: #0e0e0e;
}
#menu-22 .nav-dropdown-sm .link:focus,
#menu-22 .nav-dropdown-sm .link:hover,
#menu-22 .nav-dropdown-sm .dropdown-item:focus,
#menu-22 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-22 .navbar,
#menu-22 .nav-dropdown-sm,
#menu-22 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-22 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-22 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-22 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-22 .bg-color.transparent.opened .link:hover,
#menu-22 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
